[Unit]
Description=Gunicorn server for goat-book-staging-server

[Service]
Restart=on-failure  
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/goat-book-staging-server  
EnvironmentFile=/home/ubuntu/sites/goat-book-staging-server/.env  

ExecStart=/home/ubuntu/sites/goat-book-staging-server/.venv/bin/gunicorn \
    --bind unix:/tmp/goat-book-staging-server.socket \
    superlists.wsgi:application  

[Install]
WantedBy=multi-user.target

